* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent-dark: #1e5128;
  --accent-light: #ecf4e8;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f0;
}

i {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  outline: 0;
}

h1 {
  font-size: 3rem;
  color: var(--accent-dark);
}

h2 {
  font-size: 1.8rem;
  color: var(--accent-dark);
}

h3 {
  font-size: 1.6rem;
  color: var(--accent-dark);
}

p {
  font-size: 1.4rem;
  color: var(--accent-dark);
}

img {
  width: 100%;
}

/* utility classes */

.container {
  max-width: 90%;
  margin-inline: auto;
}

.flex {
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}

.cta-btn {
  width: 50%;
  height: 70px;
  background-color: var(--accent-dark);
  font-size: 1.4rem;
  color: white;
  border-radius: 10px;
  border: 1px solid var(--accent-dark);
  transition: 0.5s;
  font-weight: 500;
  cursor: pointer;
}

.cta-btn:hover {
  background-color: var(--accent-light);
  color: var(--accent-dark);
}




/* our-story section */

.our-story{
  width: 100%;
  background-color: var(--accent-light);
  padding: 2rem 0px;
}

.our-story div{
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

/* rating section */
.rating-section{
  padding: 2.5rem 0px;
}

.rating-section .container{
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.rating-section .rating{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.rating .rating-icon{
  background-color: var(--accent-light);
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--accent-dark);
  border-radius:6px;
}

.rating-icon i{
  font-size: 1.8rem;
  color: var(--accent-dark);
}

.rating-section .rating-details{
  width: fit-content;
}

.rating-section .rating-details h4{
  color: var(--accent-dark);
  font-size: 1.6rem;
}

.rating-section .rating-details p{
  color: var(--accent-dark);
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}