*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
}


.icon{
    width: 2rem;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

button{
    border: 0;
    outline: 0;
}

/* utility classes */

.container{
    max-width: 90%;
    margin-inline: auto;
}

.flex{
    display: flex;
    align-items: center;
}